---
let title = "About";
let contenido = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam soluta aliquid et possimus dignissimos asperiores. Ea veniam inventore voluptatem, labore, enim eaque quidem assumenda ipsam voluptatum voluptatibus vero sapiente voluptates.";

---
<section class="bg-ocean-blue-500 py-20">
    <div class="w-[90%]  m-auto overflow-hidden max-w-screen-xl text-very-pale-green">
        <h1 class="text-3xl text-mint-green font-bold">{title}</h1>
        <p>{contenido}</p>
    </div>
</section>