---
import About from '../../components/About.astro';
import Footer from '../../components/Footer.astro';
import Nav from '../../components/Nav.astro';
import Layout from '../../layouts/Layout.astro';
---
<Layout title="PaEcoSupplies">
	<header>
		<Nav inEnglish={false}/>
	</header>
	<main>
		<About/>
	</main>
	<Footer/>
</Layout>